modules/configuration/generated/
modules/configuration/build/
modules/configuration/plugins/Gosu/gclasses/
modules/configuration/plugins/Gosu/idea-gclasses/
modules/configuration/configuration.iml
modules/base.zip
java-examples.zip
project-version.properties
.idea/*
gradle/cache/
.gradle/
gradle.zip
/admin/
/solr/
dist/
javadoc/
logs/
bin/
repository/
studio/
ThemeApp/
licenses/
webapps/
logs/
db/